img {
  max-height: 500px;
}

.hover-red:hover {
  cursor: pointer;
  color: #dc3545!important;
}

.hover-dark:hover {
  color: #000!important;
}

.red-h:hover {
  cursor: pointer;
  text-decoration: none;
}

h1:hover {
  cursor: pointer;
}

h3:hover,
h4:hover,
h6:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #dc3545;
}

#vs {
  width: 30px;
  height: 30px;
  line-height: 2;
}

@media (min-width: 992px) {
  .parent-row {
    height: 100vh;
  }

  .scrollable {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  header button {
    font-size: .7rem!important;
  }
}